
<%= form_with model: @room_type, local: true do |form| %>
 
 
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :description %>
  </p>

  <hr>


  <h2>Rooms</h2>

    <%= form.fields_for :rooms do |rooms_form| %>
   <ul>
      <li>
        <%= rooms_form.label :name %><br>
        <%= rooms_form.text_field :name %><br>
 
        <%= rooms_form.label :description %><br>
        <%= rooms_form.text_area :description %><br>
      
      </li>

  </ul>
    <% end %>


  

   
  
  


    


  <p>
    <%= form.submit %>
  </p>

 

<% end %>









