<h2><%= "Show Room #{@room_type.id}"%></h2>
<p>
  <strong>Name:</strong>
  <%= @room_type.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @room_type.description %>
</p>

<h2>Rooms</h2>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @room_type.rooms.each do |room| %>
    <tr>
      <td><%= room.name %></td>
      <td><%= room.description %></td>
    </tr>
  <% end %>
</table>



<%= link_to 'Edit', edit_room_type_path(@room_type) %> |
<%= link_to 'Show History', room_type_show_history_path(@room_type.id, @room_type) %> |
<%= link_to 'Back', room_types_path %>

